:root {
     font-family: 'DIN Condensed';
    background-color: #97AF94; 
}
body{
     height: 100vh;
     font-family: 'DIN Condensed';
}
section{
     range:url('birk1.png');
     range:url('brownbirks.png');
     range:url('sandalsbirk.png');
     range:url('blackbirks.png');
      
}
.captiontext {
     background: rgba(0,0,0,0.4); /*-- transparent black background --*/
     color: #f2f2f2; /*-- sets color to almost white --*/
     font-size: 30px; /*-- sets font size --*/
     padding: 8px 12px; /*-- sets caption padding --*/
     position: absolute; /*-- positions caption text absolutely--*/
     bottom: 160px; /*-- sets position 8px from bottom --*/
     width: 100%; /*-- sets width equal to container width --*/
     text-align: center; /*-- aligns text center --*/
   }
.numberof {
     color: #f2f2f2; /*-- sets color to almost white --*/
     font-size: 20px; /*-- sets font size --*/
     font-family: 'DIN Condensed';
     padding: 8px 12px; /*-- sets numberof padding --*/
     position: absolute; /*-- positions numberof text absolutely--*/
     top: 100; /*-- sets position hard to the top--*/
   }  
.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
}  
.cardgrid{
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: 1fr 1fr;
     grid-gap: 2rem;
     margin: 2rem 2vw;
}
.topnav{ 
     background-color:#D8E3D6;
     color: #4F4949;
     font-family: 'Oswald', sans-serif;
     padding: 1em 4rem;
     display: flex;
     align-items: end;
     justify-content: space-between;
     gap: 2rem;
     text-transform: uppercase;
     font-weight: 500;
     z-index: 1000; /*-- makes navbar always sit in the front, on the z-axis--*/
     width: 100%;
} 
a.nav-item {
     position: relative; /*-- overcomes negative margin in above rule --*/
     top: 4px; /*-- tweaks vertical position --*/
     text-align: center; /*-- center-aligns all text inside their boxes --*/
     padding: .75em 0; /*-- provides padding inside menu items --*/
     margin: auto 0; /*-- centers menu text vertically --*/
     color: var(--rev-text);
     transition: color 250ms ease-in-out; /*-- specifies transition, duration, and easing --*/
   }
@media screen and (max-width: 767px) {
     .topnav a, .topnav span {display: none;}
     .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
   }

   @media screen and (max-width: 767px) {
     .topnav.responsive {align-items: center;} 
     .topnav.responsive a, .topnav.responsive span {display:inherit;} 
     .topnav.responsive a:first-child {margin-top:1em;} 
     .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} 
     .topnav.responsive a.more {margin-bottom: 1em;} 
     .topnav.responsive a.trigram {visibility:hidden; transition:none;} 
     .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} 
   }
   @media screen and (min-width: 768px) {
     .topnav {display: flex; flex-direction: row; justify-content: space-between;}
   }
   .slideshow {
     background-color: var(--bg);
     padding: 1em;
   }
   .slideshow-wrapper {
     position: relative; /*-- this allows children to be position absolutely --*/
     margin: auto; /*-- simple centering method--*/  max-width: 100%; /*-- contrains slideshow on largest screens --*/
   }
   .slideshow-wrapper img {
     width: 100%; /*-- makes slideshow responsive in size --*/
     margin: 212px;
   }
.site-footer {
  background-color:#D8E3D6;
  padding: 1em 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Oswald', sans-serif;
}
.card {
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     align-items: center;
     background-color:#D8E3D6;
     border: 2px solid #4F4949;
}
.right{
     display:flex; 
     flex-direction:column;
     vertical-align:top;
     line-height: 100px ;
     top: 30px; right: 100px;
     font-family:'DIN Condensed';
     line-height:250%;
     letter-spacing: normal;
     padding-left: 7%;
     padding-bottom:20%;     
}
h1 {
     font-size: 4rem;
     color: #4F4949;
     font-family: 'Oswald', sans-serif;
     margin: 0%;
}
h2 {
     font-size: 2rem;
     color:#938A8A;
     font-family: 'Quicksand', sans-serif;
     margin: 0%;
}
h4{
     font-size: 2rem;
     color:#6D6767;
     margin: 0%;
     font-family: 'DIN Alternate';
}
h5{
     font-size: 3rem;
     color: #938A8A;
     font-family: 'DIN Alternate';
     margin: 0%;
}
h6{
     font-size:2.3rem;
     color: #6D6767;
     font-family: 'DIN Alternate';
     margin: 0%;
     padding-top: 10%;

}
.left{
          display:flex;
          flex-direction: column;
          justify-content:center;
          align-items:center;
          padding-top: 0%;
          padding-left: 10%;
}   
p {
     color:#938A8A ;
     font-family: 'DIN Alternate';
     font-size: 1.6rem;
}
.left img{
     width: 87%;
     opacity: 1;
     cursor: pointer;
     transition: all .25s ease-out;
}
.left img:hover{
     transform:scale(1.3)

}
.prev, .next{
     cursor: pointer; /*-- changes hover cursor to the hand --*/
     position: absolute; /*-- positions arrows absolutely--*/
     top: 50%; /*-- positions arrows half the height of parent from top --*/
     transform: translateY(-100%);
     width: auto; /*-- matches width of parent --*/
     padding: 16px; /*-- adds a little bit of space--*/
     color: #f2f2f2; /*-- sets color for contrast --*/
     font-weight: bold; /*-- selects heavier font --*/
     font-size:35px; /*-- sets arrow font size --*/
     transition: 0.6s ease; /*-- sets transition speed for arrow hover--*/
     border-radius: 0 3px 3px 0; /*-- slightly rounds inside borders --*/
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none; /*-- prevents users from selecting buttons --*/
   }
   .next {
     right: 0; /*-- positions next arrow hard right --*/
     border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
   }
   